{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
<!-- 複数のデータをformで送る場合にはenctypeを指定する必要あり  -->
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <!-- {{ form.as_p }}: authorの項目は入力できてはいけないから今回はこれを使用しない -->
    <p>Title: <input type="text" name="title"></p>
    <p>Content: <input type="text" name="content"></p>
    <p>Image: <input type="file" name="images"></p>
    <input type="hidden" name="author" value="{{ user.username }}">
    
    <input type="submit" value="Create">
</form>
{% else %}
Please login
{% endif %}
{% endblock content %}